.card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block {
    display: flex;
    align-items: center;
    gap: 10px;
}
.button {
    background-color: lightgray;
     border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
