.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 10px 10px 10px 0;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}
.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
}
.input {
  padding: 5px;
}
.button {
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
}
